.Rules p{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Rules{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Rules ul{
    list-style-type: number;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.Rules ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: italic;
    text-align: center;
    
}

@media (max-width: 768px) {
    .Rules p{
        font-size: 15px;
    }
    .Rules ul li{
        font-size: 1em;
    }
}
`