html{
  margin:0px;
  padding:0px;
  background-color: #000;

}
body{
  margin:0px;
  padding:0px;
  background-color: #000;
}
.App{
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color:green;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #000;
}

h1{
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color:green;
  box-shadow: 0px 0px 10px 0px green;
  padding: 1rem;
  border-radius: 5px;
  
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  text-shadow: 0px 0px 10px #3b3b3b;
}

button {
  border: 2px solid #39FF14;
  color: #39FF14;
  background :none;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  
  cursor: pointer;
  margin: 1rem;
}

@media (max-width: 768px) {
  .App {
    margin: 0;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 1.5rem;
  }
  button {
    padding: 1rem 1.5rem;
  }
}
```
```